body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: gray;
  color: hsl(208, 11%, 55%)
}

div {
  margin: 0;
}

a {
  position: absolute;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: gray;
  color: hsl(192, 100%, 9%);
}

h2 {
  font-family:  'Poppins', sans-serif;
  font-weight: 700;
  color: gray;
  color: hsl(192, 100%, 9%);
}

img {
  margin: 0;
}

/*----------------parte de cima---------------*/
.top-text {
  position: absolute;
  top: 235px;
  left: 75px;
  color: gray;
  color: hsl(192, 100%, 9%);
}
.intro-text {
  top: 470px;
  left: 100px;
  width: 38%;
}

.button-top {
  border-radius: 60px;
  box-shadow: 0 4px 6px #bbb9bf;
  color: darkblue;
  color: hsl(228, 45%, 44%);
  font-size: 16px;
  font-weight: 400;
  background: white;
  padding: 15px 55px;
  text-decoration: none;
  top: 60px;
  right: 100px;
}

.button-left {
  border-radius: 60px;
  color: #ffffff;
  font-size: 16px;
  background: pink;
  background: hsl(322, 100%, 66%);
  padding: 20px 66px;
  text-decoration: none;
  top: 500px;
  left: 75px;
}

/*-------------------imagens------------------*/
.logo {
  position: absolute;
  margin: 0;
  top: 60px;
  left: 100px;
}

.mockups {
  position: absolute;
  top: 170px;
  right: 75px;
  width: 49%;
}

.background {
  background-color: lightcyan;
  background-color: hsl(193, 100%, 96%);
  margin: 0;

}

/*----------------parte do meio---------------*/
.row {
  background-color: white;
  box-shadow: 0 4px 6px #bbb9bf;
  border-radius: 20px;
  display: block;
  height: 400px;
  width: 1140px;
  margin: 100px auto 0;

}

.grow-img {
  float: right;
  width: 400px;
  margin: 38px 30px 35px 0;
}

.middle-text1 {
  margin: auto 110px;
  padding-top: 102px;
  width: 500px;
}

.conversation-img {
  float: left;
  width: 400px;
  margin: 65px 170px 30px 30px;
}

.middle-text2 {
  margin: 20px 98px;
  padding-top: 110px;
  width: 1000px;
}

.users-img {
  float: right;
  width: 400px;
  margin: 50px 30px 48px 30px;
}

.middle-text3 {
  margin: auto 110px;
  padding-top: 102px;
  width: 500px;
}

/*-------------------footer--------------------*/

.row-bottom {
  background-color: white;
  box-shadow: 0 4px 6px  #bbb9bf;
  border-radius: 20px;
  display: block;
  height: 220px;
  width: 600px;
  margin: -165px auto 0;
}

.bottom-title {
  text-align: center;
  padding-top: 50px;
  margin: 0;
}

.button-bottom {
  align-content: center;
  border-radius: 60px;
  box-shadow: 0 4px 6px  #bbb9bf;
  color: #ffffff;
  font-size: 16px;
  left: 483.5px;
  background: pink;
  background: hsl(322, 100%, 66%);
  padding: 20px 66px;
  text-decoration: none;
  margin: 25px auto auto;
}

.bottom-container {
  position: absolute;
  top: 2460px;
  background-color: darkblue;
  background-color: hsl(192, 100%, 9%);
  height: 455px;
}
